
.account-body {
  display: flex;
  flex-direction: column;
  .account-field {
    display: flex;
    margin-bottom: 1em;
    .asterisk {
      margin-top: 1em;
      margin-left: 1em;
      color: red;
    }
    .colorless {
      color: #FFF;
    }
  }
  .shift-right {
    margin-left: 2em;
  }
}