.account-body {
  display: flex;
  flex-direction: column;
  .account-field {
    display: flex;
    margin-bottom: 1em;
    .asterisk {
      margin-top: 1em;
      margin-left: 1em;
      color: red;
    }
    .colorless {
      color: #FFF;
    }
  }
  .account-dropdown {
    margin-bottom: -0.55em;
  }
  .shift-right {
    margin-left: 1.5em;
  }
  .width-prop {
    width: 70%;
  }
}