.agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .backimg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: .5;
  }
  .agreement-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 12px;
    width: 470px;
    background-color: white;
    color: black;
    z-index: 1;
    border-radius: 7px;
    padding: 3em 6em;
    .agreement-logo {
      width: 75%;
      margin-bottom: 1em;
    }
    .agreement-desc {
      margin-top: 1em;
    }
    .agreebox {
      align-self: center;
      .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
        font-size: 12px;
        color: #2FBE76;
      }
    }
    .agreenext {
      background-color: #2FBE76;
      color: #FFF;
      font-size: 12px;
      border: none;
      border-radius: 7px;
      cursor: pointer;
      padding-top: 1em;
      padding-bottom: 1em;
      font-weight: 800;
      outline: none;
      width: 100%;
    }
    .disablebtn {
      background-color: #E0E0E0;
      cursor: default;
    }
  }
}
.register-buttons {
  display: flex;
  justify-content: space-between;
}
.register-body {
  margin: 15px 0 15px 0;
}

.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width > .v-input__control > .v-input__slot, .v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 42px;
  font-size: 14px;
}
.v-select.v-select--is-menu-active .v-input__icon--append .v-icon {
  transform: rotate(180deg) translateY(.25em);
}
.v-icon.v-icon {
  transform: translateY(-.25em);
}